*
!.gitignore
!LICENSE
!README.md
!package.json
!package-lock.json
!docker-compose.typemill.yml
!docker/
!docker/**
!scripts/
!scripts/**
!themes/
!themes/**
!plugins/
!plugins/**
!README_TESTING.md
!vitest.config.js
!tests/
!tests/**
tests/php/phpunit.phar
tests/php/vendor/
**/node_modules/
**/npm-debug.log*
/themes/cyanine/**
/tests/php/composer.lock
/tests/php/.phpunit.result.cache
!Agents.md

