*
!.gitignore
!LICENSE
!README.md
!package.json
!package-lock.json
!docker-compose.typemill.yml
!scripts/
!scripts/**
!themes/
!themes/**
!plugins/
!plugins/**
!README_TESTING.md
**/node_modules/
**/npm-debug.log*
